<a href="https://colab.research.google.com/github/ABJay23/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import tensorflow as tf
import tensorflow.keras as keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

new_application_df = application_df.drop(columns = ["EIN", "NAME"])
new_application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Determine the number of unique values in each column.
for i in new_application_df.columns:
    print(i, len(application_df[i].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
App_count = application_df['APPLICATION_TYPE'].value_counts()
App_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(App_count[App_count<500].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
new_application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(App_count[App_count<500].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
Numeric_df = pd.get_dummies(new_application_df)
Numeric_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = Numeric_df["IS_SUCCESSFUL"]
X = Numeric_df.drop(["IS_SUCCESSFUL"],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 9
hidden_nodes_layer2 = 18


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 1053

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 1,252
Trainable params: 1,252
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.6044 - accuracy: 0.6897 - val_loss: 0.5589 - val_accuracy: 0.7378
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5632 - accuracy: 0.7244 - val_loss: 0.5509 - val_accuracy: 0.7367
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5559 - accuracy: 0.7276 - val_loss: 0.5491 - val_accuracy: 0.7346
Epoch 4/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5529 - accuracy: 0.7275 - val_loss: 0.5502 - val_accuracy: 0.7357
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7296 - val_loss: 0.5490 - val_accuracy: 0.7372
Epoch 6/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5492 - accuracy: 0.7297 - val_loss: 0.5479 - val_accuracy: 0.7326
Epoch 7/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5480 - accuracy: 0.7298 - val_loss: 0.5482 - val_accuracy: 0.7383
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7306 - val_loss: 0.5482 - val_accuracy: 0.7365
Epoch 9/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5464 - accuracy: 0.7301 - val_loss: 0.5490 - val_accuracy: 0.7344
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7305 - val_loss: 0.5475 - val_accuracy: 0.7380
Epoch 11/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7305 - val_loss: 0.5489 - val_accuracy: 0.7378
Epoch 12/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7323 - val_loss: 0.5474 - val_accuracy: 0.7388
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7319 - val_loss: 0.5476 - val_accuracy: 0.7372
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5444 - accuracy: 0.7318 - val_loss: 0.5470 - val_accuracy: 0.7370
Epoch 15/100
684/684 [==============================] - 2s 4ms/step - loss: 0.5443 - accuracy: 0.7313 - val_loss: 0.5465 - val_accuracy: 0.7370
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7331 - val_loss: 0.5467 - val_accuracy: 0.7365
Epoch 17/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7317 - val_loss: 0.5457 - val_accuracy: 0.7396
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7326 - val_loss: 0.5462 - val_accuracy: 0.7396
Epoch 19/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7325 - val_loss: 0.5466 - val_accuracy: 0.7380
Epoch 20/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7329 - val_loss: 0.5453 - val_accuracy: 0.7391
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7328 - val_loss: 0.5478 - val_accuracy: 0.7378
Epoch 22/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7332 - val_loss: 0.5463 - val_accuracy: 0.7391
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7342 - val_loss: 0.5499 - val_accuracy: 0.7388
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7349 - val_loss: 0.5486 - val_accuracy: 0.7378
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7340 - val_loss: 0.5488 - val_accuracy: 0.7378
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7340 - val_loss: 0.5466 - val_accuracy: 0.7398
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7337 - val_loss: 0.5493 - val_accuracy: 0.7326
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5416 - accuracy: 0.7340 - val_loss: 0.5466 - val_accuracy: 0.7380
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7346 - val_loss: 0.5441 - val_accuracy: 0.7383
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7345 - val_loss: 0.5462 - val_accuracy: 0.7391
Epoch 31/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7336 - val_loss: 0.5465 - val_accuracy: 0.7334
Epoch 32/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7347 - val_loss: 0.5463 - val_accuracy: 0.7385
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7339 - val_loss: 0.5441 - val_accuracy: 0.7385
Epoch 34/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7347 - val_loss: 0.5444 - val_accuracy: 0.7396
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7345 - val_loss: 0.5462 - val_accuracy: 0.7380
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7359 - val_loss: 0.5458 - val_accuracy: 0.7380
Epoch 37/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5397 - accuracy: 0.7341 - val_loss: 0.5436 - val_accuracy: 0.7396
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7343 - val_loss: 0.5442 - val_accuracy: 0.7393
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7352 - val_loss: 0.5437 - val_accuracy: 0.7391
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7361 - val_loss: 0.5450 - val_accuracy: 0.7385
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7361 - val_loss: 0.5500 - val_accuracy: 0.7346
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7351 - val_loss: 0.5446 - val_accuracy: 0.7401
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7345 - val_loss: 0.5459 - val_accuracy: 0.7393
Epoch 44/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7352 - val_loss: 0.5450 - val_accuracy: 0.7398
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7349 - val_loss: 0.5467 - val_accuracy: 0.7385
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7364 - val_loss: 0.5453 - val_accuracy: 0.7380
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7363 - val_loss: 0.5467 - val_accuracy: 0.7388
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7355 - val_loss: 0.5467 - val_accuracy: 0.7385
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7361 - val_loss: 0.5450 - val_accuracy: 0.7385
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7365 - val_loss: 0.5482 - val_accuracy: 0.7339
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7362 - val_loss: 0.5444 - val_accuracy: 0.7401
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7365 - val_loss: 0.5438 - val_accuracy: 0.7393
Epoch 53/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7368 - val_loss: 0.5457 - val_accuracy: 0.7367
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7373 - val_loss: 0.5454 - val_accuracy: 0.7393
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7367 - val_loss: 0.5453 - val_accuracy: 0.7398
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7363 - val_loss: 0.5459 - val_accuracy: 0.7380
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7367 - val_loss: 0.5457 - val_accuracy: 0.7391
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7374 - val_loss: 0.5460 - val_accuracy: 0.7375
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7370 - val_loss: 0.5468 - val_accuracy: 0.7398
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7362 - val_loss: 0.5451 - val_accuracy: 0.7378
Epoch 61/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7374 - val_loss: 0.5431 - val_accuracy: 0.7391
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5379 - accuracy: 0.7367 - val_loss: 0.5468 - val_accuracy: 0.7398
Epoch 63/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7378 - val_loss: 0.5462 - val_accuracy: 0.7398
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7362 - val_loss: 0.5447 - val_accuracy: 0.7375
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7369 - val_loss: 0.5461 - val_accuracy: 0.7388
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7366 - val_loss: 0.5446 - val_accuracy: 0.7372
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7363 - val_loss: 0.5466 - val_accuracy: 0.7339
Epoch 68/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5372 - accuracy: 0.7369 - val_loss: 0.5479 - val_accuracy: 0.7388
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7369 - val_loss: 0.5502 - val_accuracy: 0.7349
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7373 - val_loss: 0.5451 - val_accuracy: 0.7388
Epoch 71/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7379 - val_loss: 0.5483 - val_accuracy: 0.7391
Epoch 72/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7367 - val_loss: 0.5481 - val_accuracy: 0.7313
Epoch 73/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5370 - accuracy: 0.7370 - val_loss: 0.5469 - val_accuracy: 0.7344
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7362 - val_loss: 0.5458 - val_accuracy: 0.7375
Epoch 75/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7393 - val_loss: 0.5466 - val_accuracy: 0.7398
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7383 - val_loss: 0.5518 - val_accuracy: 0.7385
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5372 - accuracy: 0.7386 - val_loss: 0.5485 - val_accuracy: 0.7403
Epoch 78/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7360 - val_loss: 0.5483 - val_accuracy: 0.7401
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7391 - val_loss: 0.5477 - val_accuracy: 0.7380
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7373 - val_loss: 0.5527 - val_accuracy: 0.7339
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7362 - val_loss: 0.5516 - val_accuracy: 0.7398
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7368 - val_loss: 0.5470 - val_accuracy: 0.7393
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7374 - val_loss: 0.5493 - val_accuracy: 0.7396
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7367 - val_loss: 0.5524 - val_accuracy: 0.7318
Epoch 85/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7374 - val_loss: 0.5463 - val_accuracy: 0.7393
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7368 - val_loss: 0.5484 - val_accuracy: 0.7378
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7378 - val_loss: 0.5516 - val_accuracy: 0.7396
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7384 - val_loss: 0.5506 - val_accuracy: 0.7315
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7378 - val_loss: 0.5523 - val_accuracy: 0.7396
Epoch 90/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7374 - val_loss: 0.5525 - val_accuracy: 0.7406
Epoch 91/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7360 - val_loss: 0.5511 - val_accuracy: 0.7396
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7382 - val_loss: 0.5503 - val_accuracy: 0.7406
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7374 - val_loss: 0.5528 - val_accuracy: 0.7375
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7381 - val_loss: 0.5540 - val_accuracy: 0.7313
Epoch 95/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7382 - val_loss: 0.5510 - val_accuracy: 0.7383
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384 - val_loss: 0.5525 - val_accuracy: 0.7398
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5365 - accuracy: 0.7374 - val_loss: 0.5495 - val_accuracy: 0.7406
Epoch 98/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7366 - val_loss: 0.5516 - val_accuracy: 0.7365
Epoch 99/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7375 - val_loss: 0.5519 - val_accuracy: 0.7352
Epoch 100/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5363 - accuracy: 0.7380 - val_loss: 0.5505 - val_accuracy: 0.7401

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5539 - accuracy: 0.7284 - 713ms/epoch - 3ms/step
Loss: 0.5538501143455505, Accuracy: 0.728396475315094

# Here a score of 72% was obtained. lower than the needed score of 75%

In [ ]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/Model_1.h5')
files.download('/content/Model_1.h5')