<a href="https://colab.research.google.com/github/ABJay23/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Optimization II

Here the number of nodes were increased in the first layer,  and only the EIN column was dropped. Bin sizes were also increased I eventually got an accuracy score of 78% compared to the 72% score obtained in my first run.

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import tensorflow as tf
import tensorflow.keras as keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Here i decided to drop the "EIN" column


new_application_df = application_df.drop(columns = ["EIN"])
new_application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [6]:
# Determine the number of unique values in each column.
for i in new_application_df.columns:
    print(i, len(application_df[i].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [10]:
#here i determined the number of counts per item in Names
counts = application_df["NAME"].value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [18]:
replace_names = list(counts[counts<10].index)

In [15]:
for name in replace_names:
  application_df['NAME'] = application_df['NAME'].replace(name, 'New Names')

application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
App_count = application_df['APPLICATION_TYPE'].value_counts()
App_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [19]:
# Look at CLASSIFICATION value counts for binning
countbinning = application_df['CLASSIFICATION'].value_counts()
countclassification = countbinning[countbinning>1]
countclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [20]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [21]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
countbinning = application_df['CLASSIFICATION'].value_counts()

In [22]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
countclassification = countbinning[countbinning>1]
countclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(countbinning[countbinning<100].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,EIN,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [26]:
# Split preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
x = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [27]:
# Split the preprocessed data into training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=42)

In [28]:
# Create  StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 1974

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 2,101
Trainable params: 2,101
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [31]:

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 0.5547 - accuracy: 0.7332 - val_loss: 0.4537 - val_accuracy: 0.7828
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4547 - accuracy: 0.7777 - val_loss: 0.4382 - val_accuracy: 0.7919
Epoch 3/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4450 - accuracy: 0.7816 - val_loss: 0.4346 - val_accuracy: 0.7898
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4410 - accuracy: 0.7841 - val_loss: 0.4351 - val_accuracy: 0.7942
Epoch 5/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4394 - accuracy: 0.7854 - val_loss: 0.4346 - val_accuracy: 0.7937
Epoch 6/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4379 - accuracy: 0.7868 - val_loss: 0.4324 - val_accuracy: 0.7976
Epoch 7/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4367 - accuracy: 0.7873 - val_loss: 0.4316 - val_accuracy: 0.7974
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4360 - accuracy: 0.7876 - val_loss: 0.4330 - val_accuracy: 0.7976
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4354 - accuracy: 0.7881 - val_loss: 0.4337 - val_accuracy: 0.7961
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4346 - accuracy: 0.7881 - val_loss: 0.4336 - val_accuracy: 0.7968
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4345 - accuracy: 0.7889 - val_loss: 0.4323 - val_accuracy: 0.7950
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4339 - accuracy: 0.7893 - val_loss: 0.4340 - val_accuracy: 0.7955
Epoch 13/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4334 - accuracy: 0.7895 - val_loss: 0.4321 - val_accuracy: 0.7979
Epoch 14/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4327 - accuracy: 0.7893 - val_loss: 0.4330 - val_accuracy: 0.7953
Epoch 15/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4325 - accuracy: 0.7903 - val_loss: 0.4326 - val_accuracy: 0.7976
Epoch 16/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4322 - accuracy: 0.7897 - val_loss: 0.4332 - val_accuracy: 0.7948
Epoch 17/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4322 - accuracy: 0.7895 - val_loss: 0.4337 - val_accuracy: 0.7940
Epoch 18/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4320 - accuracy: 0.7900 - val_loss: 0.4343 - val_accuracy: 0.7948
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4313 - accuracy: 0.7896 - val_loss: 0.4345 - val_accuracy: 0.7911
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4313 - accuracy: 0.7895 - val_loss: 0.4341 - val_accuracy: 0.7945
Epoch 21/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4308 - accuracy: 0.7896 - val_loss: 0.4346 - val_accuracy: 0.7958
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7898 - val_loss: 0.4336 - val_accuracy: 0.7953
Epoch 23/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7899 - val_loss: 0.4351 - val_accuracy: 0.7937
Epoch 24/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4303 - accuracy: 0.7902 - val_loss: 0.4335 - val_accuracy: 0.7953
Epoch 25/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4299 - accuracy: 0.7912 - val_loss: 0.4344 - val_accuracy: 0.7966
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4301 - accuracy: 0.7909 - val_loss: 0.4344 - val_accuracy: 0.7948
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4298 - accuracy: 0.7915 - val_loss: 0.4351 - val_accuracy: 0.7963
Epoch 28/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4296 - accuracy: 0.7913 - val_loss: 0.4346 - val_accuracy: 0.7966
Epoch 29/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4292 - accuracy: 0.7914 - val_loss: 0.4337 - val_accuracy: 0.7937
Epoch 30/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4295 - accuracy: 0.7894 - val_loss: 0.4333 - val_accuracy: 0.7976
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7914 - val_loss: 0.4343 - val_accuracy: 0.7989
Epoch 32/100
684/684 [==============================] - 2s 4ms/step - loss: 0.4286 - accuracy: 0.7911 - val_loss: 0.4339 - val_accuracy: 0.7981
Epoch 33/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4287 - accuracy: 0.7923 - val_loss: 0.4344 - val_accuracy: 0.7984
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4283 - accuracy: 0.7922 - val_loss: 0.4335 - val_accuracy: 0.7976
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7921 - val_loss: 0.4351 - val_accuracy: 0.7940
Epoch 36/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4282 - accuracy: 0.7915 - val_loss: 0.4334 - val_accuracy: 0.7953
Epoch 37/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4279 - accuracy: 0.7924 - val_loss: 0.4347 - val_accuracy: 0.7961
Epoch 38/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4278 - accuracy: 0.7926 - val_loss: 0.4341 - val_accuracy: 0.7971
Epoch 39/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4280 - accuracy: 0.7930 - val_loss: 0.4351 - val_accuracy: 0.7958
Epoch 40/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4274 - accuracy: 0.7931 - val_loss: 0.4364 - val_accuracy: 0.7992
Epoch 41/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4277 - accuracy: 0.7939 - val_loss: 0.4332 - val_accuracy: 0.7953
Epoch 42/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4275 - accuracy: 0.7937 - val_loss: 0.4361 - val_accuracy: 0.7958
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4272 - accuracy: 0.7936 - val_loss: 0.4342 - val_accuracy: 0.7971
Epoch 44/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7932 - val_loss: 0.4370 - val_accuracy: 0.7974
Epoch 45/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7933 - val_loss: 0.4358 - val_accuracy: 0.7955
Epoch 46/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4270 - accuracy: 0.7930 - val_loss: 0.4336 - val_accuracy: 0.7942
Epoch 47/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4267 - accuracy: 0.7930 - val_loss: 0.4344 - val_accuracy: 0.7953
Epoch 48/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4265 - accuracy: 0.7929 - val_loss: 0.4349 - val_accuracy: 0.7953
Epoch 49/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4264 - accuracy: 0.7941 - val_loss: 0.4357 - val_accuracy: 0.7974
Epoch 50/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4261 - accuracy: 0.7938 - val_loss: 0.4344 - val_accuracy: 0.7963
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4264 - accuracy: 0.7929 - val_loss: 0.4363 - val_accuracy: 0.7987
Epoch 52/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7946 - val_loss: 0.4365 - val_accuracy: 0.7961
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7935 - val_loss: 0.4375 - val_accuracy: 0.7974
Epoch 54/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4259 - accuracy: 0.7948 - val_loss: 0.4356 - val_accuracy: 0.7976
Epoch 55/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4257 - accuracy: 0.7930 - val_loss: 0.4373 - val_accuracy: 0.7981
Epoch 56/100
684/684 [==============================] - 3s 4ms/step - loss: 0.4253 - accuracy: 0.7941 - val_loss: 0.4363 - val_accuracy: 0.7919
Epoch 57/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4255 - accuracy: 0.7929 - val_loss: 0.4337 - val_accuracy: 0.7937
Epoch 58/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4254 - accuracy: 0.7940 - val_loss: 0.4362 - val_accuracy: 0.7948
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4253 - accuracy: 0.7937 - val_loss: 0.4345 - val_accuracy: 0.7966
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4250 - accuracy: 0.7940 - val_loss: 0.4361 - val_accuracy: 0.7961
Epoch 61/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7942 - val_loss: 0.4335 - val_accuracy: 0.7948
Epoch 62/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4251 - accuracy: 0.7937 - val_loss: 0.4354 - val_accuracy: 0.7987
Epoch 63/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7933 - val_loss: 0.4350 - val_accuracy: 0.7945
Epoch 64/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7945 - val_loss: 0.4358 - val_accuracy: 0.7961
Epoch 65/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4248 - accuracy: 0.7950 - val_loss: 0.4371 - val_accuracy: 0.7974
Epoch 66/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4241 - accuracy: 0.7951 - val_loss: 0.4368 - val_accuracy: 0.7981
Epoch 67/100
684/684 [==============================] - 4s 6ms/step - loss: 0.4246 - accuracy: 0.7949 - val_loss: 0.4365 - val_accuracy: 0.7974
Epoch 68/100
684/684 [==============================] - 3s 5ms/step - loss: 0.4242 - accuracy: 0.7942 - val_loss: 0.4362 - val_accuracy: 0.7961
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4241 - accuracy: 0.7947 - val_loss: 0.4364 - val_accuracy: 0.7891
Epoch 70/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7940 - val_loss: 0.4368 - val_accuracy: 0.7974
Epoch 71/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7951 - val_loss: 0.4371 - val_accuracy: 0.7963
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4237 - accuracy: 0.7951 - val_loss: 0.4346 - val_accuracy: 0.7968
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7950 - val_loss: 0.4360 - val_accuracy: 0.7974
Epoch 74/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4238 - accuracy: 0.7944 - val_loss: 0.4349 - val_accuracy: 0.7968
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7953 - val_loss: 0.4360 - val_accuracy: 0.7968
Epoch 76/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4240 - accuracy: 0.7954 - val_loss: 0.4357 - val_accuracy: 0.7953
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4236 - accuracy: 0.7942 - val_loss: 0.4347 - val_accuracy: 0.7955
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.7953 - val_loss: 0.4367 - val_accuracy: 0.7953
Epoch 79/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4234 - accuracy: 0.7936 - val_loss: 0.4366 - val_accuracy: 0.7984
Epoch 80/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4231 - accuracy: 0.7953 - val_loss: 0.4356 - val_accuracy: 0.7968
Epoch 81/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4231 - accuracy: 0.7956 - val_loss: 0.4395 - val_accuracy: 0.7961
Epoch 82/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.7947 - val_loss: 0.4379 - val_accuracy: 0.7948
Epoch 83/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4233 - accuracy: 0.7955 - val_loss: 0.4384 - val_accuracy: 0.7950
Epoch 84/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4230 - accuracy: 0.7958 - val_loss: 0.4379 - val_accuracy: 0.7942
Epoch 85/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7951 - val_loss: 0.4371 - val_accuracy: 0.7963
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4223 - accuracy: 0.7961 - val_loss: 0.4393 - val_accuracy: 0.7935
Epoch 87/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4227 - accuracy: 0.7948 - val_loss: 0.4375 - val_accuracy: 0.7953
Epoch 88/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4226 - accuracy: 0.7957 - val_loss: 0.4385 - val_accuracy: 0.7948
Epoch 89/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4224 - accuracy: 0.7961 - val_loss: 0.4395 - val_accuracy: 0.7948
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7957 - val_loss: 0.4402 - val_accuracy: 0.7953
Epoch 91/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7953 - val_loss: 0.4386 - val_accuracy: 0.7966
Epoch 92/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4222 - accuracy: 0.7952 - val_loss: 0.4394 - val_accuracy: 0.7940
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7957 - val_loss: 0.4381 - val_accuracy: 0.7935
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7951 - val_loss: 0.4409 - val_accuracy: 0.7924
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4222 - accuracy: 0.7954 - val_loss: 0.4399 - val_accuracy: 0.7948
Epoch 96/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7948 - val_loss: 0.4402 - val_accuracy: 0.7924
Epoch 97/100
684/684 [==============================] - 2s 3ms/step - loss: 0.4221 - accuracy: 0.7956 - val_loss: 0.4420 - val_accuracy: 0.7942
Epoch 98/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4218 - accuracy: 0.7959 - val_loss: 0.4417 - val_accuracy: 0.7940
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7952 - val_loss: 0.4416 - val_accuracy: 0.7917
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7952 - val_loss: 0.4395 - val_accuracy: 0.7937

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4629 - accuracy: 0.7802 - 922ms/epoch - 3ms/step
Loss: 0.4629379212856293, Accuracy: 0.7801749110221863

# Accuracy score of 78% compared to the original one of 72%

In [39]:
#Export model model
nn.save("Alphabet_Soup_Charity_Optimization_2.h5")
files.download("Alphabet_Soup_Charity_Optimization_2.h5")